$background-color: #565acd;
$rectangle-yellow: #e4d092;
$rectangle-green: #8cd795;
$rectangle-red: #f08c87;
$rectangle-pink: #cc95dd;
$rectangle-blue: #81a4e7;
$input-color: #6e73d4;
$text_color: #f8f8f8;
